body {
    margin: 0 auto;
    font-family: 'Raleway', sans-serif;
    background-color: #f5f5f5;
    line-height: 1.4;
    color: #282828;

}

* {
    box-sizing: border-box;

}

.resume {
    height: 100vh;
    width: 100vw;
}


/* //// NAVBAR //// */


.navdiv {
    width: 100%;
    background-color: #f5f5f5;
}


.navbar {
    margin-left: auto;
    margin-right: auto;
    max-width: 1000px;
    display: flex;
    list-style: none;
    align-items: center;

}

.navitem2,
.navitem1,
.btn {
    text-decoration: none;
    list-style: none;
    padding: 9px 24px;
    margin: 20px 10px;
    color: #282828;
    background-color: #fff;
    border-radius: 15px;
    border: 1px solid #282828;
    font-size: 18px;
    box-sizing: border-box;
}

.navitem1:hover,
.navitem2:hover,
.btn:hover {
    cursor: pointer;
    color: white;
    transition: 350ms;
    border: 1px solid #282828;
    background-color: #282828;


}

.navitem2:hover {
    color: white;
    background-color: #282828;
    /* color: #247bcc98; */


}

.leftnav {
    padding: 10px 25px;
    margin: 20px 10px;
    font-size: 2em;
    font-family: 'Erica One', sans-serif;
    letter-spacing: 3px;

}

.rightnav {
    display: flex;
    margin-left: auto;
    margin-right: 15px;
}

.homelink {
    text-decoration: none;
    color: #282828;
    padding: 2px 8px;
    border: 2px solid #f4f4f4;
    border-radius: 15px;
    text-shadow: 
        0.025em 0.025em 0 white,
        0.035em 0.035em 0 grey,
        0.045em 0.045em 0 black;

}

.homelink:hover {
    border: 2px solid #282828;
    border-radius: 15px;
    color: white;
    background-color: #282828;
    transition: 350ms;
    text-shadow: 
    0.025em 0.025em 0 black,
    0.035em 0.035em 0 grey,
    0.045em 0.045em 0 white;
}

@media (max-width: 600px) {
    .rightnav {
        flex-direction: column;
    }

    .navitem2,
    .navitem1 { 
        margin: 3px 8px;
        padding: 5px 10px;
        font-size: 14px;
}
}

@media (max-width: 450px) {

    .navitem2,
    .navitem1 { 
        margin: 3px 8px;
        padding: 5px 10px;
        font-size: 12px;
}

    .leftnav {
        padding: 5px 10px;
        margin: 10px 5px;
        font-size: 1.3em;
        font-family: 'Erica One', sans-serif;
        letter-spacing: 2px;
    
    }

}


/* //// HERO //// */


.hero {
    background-color: #fff;
    padding: 50px 0;
    display: flex;
    flex-direction: row;
    align-items: space-around;
}

.portfolio-intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* padding: 20px 40px 40px 40px; */
    font-family: sans-serif;
    width: 80vw;
    max-width: 800px;
    margin: 10vh auto;
    background-color: transparent;

}

.portfolio-hero-text {
    display: flex;
    justify-content: center;
    align-items: center;
}

.portfolio-title {
    font-size: clamp(2rem, 3vw + 1rem, 4rem);
    margin-bottom: 1em;
    font-family: 'Source Code Pro', monospace;
    font-weight: 900;
    letter-spacing: 1.8px;
    background-color: transparent;
    position: relative;
    width: max-content;
    text-shadow: 
        0.025em 0.025em 0 white,
        0.035em 0.035em 0 grey,
        0.045em 0.045em 0 black;
        z-index: 3;
}

.portfolio-title::after,
body::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: block;
    z-index: 3;
}

.portfolio-title::after {
    background: white;
    animation: typewriter 2.5s 1s steps(14) forwards;
}

@keyframes typewriter {
    to {
        left: 100%;
    }
}

.portfolio-title::before {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1; /* Place the pseudo element right under the content */
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: transparent;
    animation: highlight 500ms ease-in 3.8s 1 forwards;
  }


  @keyframes highlight {
    0% {
      width: 0;
      opacity: 0;
    }
  
    100% {
      width: 100%;
      opacity: 1;
      background: #f4f4f4;
      /* linear-gradient(to bottom, transparent 73%, #e3e3e3 27%); */
      /* box-shadow: 0 0px 2px rgb(147, 147, 147); */
    box-shadow: 0px 3px 5px -5px #635d5d;

      border-radius: 5px;
    }
  }

.wave {
    padding: .4em;
    padding-right: .8em;
    padding-left: 0;
    font-size: clamp(3rem, 4vw + 2rem, 5rem);
    text-align: center;
    animation: wave-animation 3s 1;
    transform-origin: 70% 70%;       
    display: inline-block;
    position: relative;
  }

body::before {
    background: white;
    animation: wave-appear 0ms 0.5s forwards;
}


  @keyframes wave-animation {
    1%  { transform: rotate( 0.0deg) }
    10% { transform: rotate(14.0deg) }  
    20% { transform: rotate(-8.0deg) }
    30% { transform: rotate(24.0deg) }
    40% { transform: rotate(-4.0deg) }
    50% { transform: rotate(20.0deg) }
    60% { transform: rotate(-5.0deg) } 
    70% { transform: rotate(18.0deg) }
    80% { transform: rotate(-6.0deg) }
    90% { transform: rotate(10.0deg) }
    100%{ transform: rotate(-1.0deg) }
  }

  .title-body {
    font-size: clamp(1rem, 1vw + 1rem, 2rem);
    font-weight: 400;
    color: white;
    animation: appear 750ms 5s forwards;
    text-align: center;
}

@keyframes appear {
    to {
        color: black;
    }
}
  
@keyframes wave-appear {
    to {
        right: 100%;
    }
}



@media (max-width: 600px) {

    .portfolio-intro {
        margin-top: 5vh;
        max-width: 500px;
        min-width: 89vw;
    }

    .portfolio-title{
        margin-bottom: .8em;
        font-weight: 900;
        letter-spacing: 1.7px;
    }


    .portfolio-hero-text {
        flex-direction: column;    
    }

}

@media (max-width: 450px) {


    .portfolio-intro {
        min-width: 89vw;
        margin-top: 5vh;
    }

    .portfolio-title {
        margin-bottom: .4em;
        font-weight: 900;
        letter-spacing: 1.7px;
        padding-right: 0px;
        padding: 0px 5px 10px;

    }

    .portfolio-intro h2 {
        padding: 0px 4px 18px;
        font-weight: 400;
    }

    .portfolio-hero-text {
        width: 90%;    
    }

}

/* //// BODY ///// */

.projectheader h2 {
    text-align: center;
    margin-top: 50px;
    font-size: 1em;
    color: #282828;
}
.projectgrid {
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 30px;
    row-gap: 30px;
    padding: 20px 15px;
    margin: 0 auto;
}


.projectheader {
    font-size: 2.6em;
    margin-bottom: 1em;
    font-family: 'Source Code Pro', monospace;
    font-weight: 900;
    letter-spacing: 1.8px;
    text-align: left;
    text-shadow: 
        0.025em 0.025em 0 white,
        0.035em 0.035em 0 grey,
        0.045em 0.045em 0 black;
}


.projectmain {
    position: relative;
    padding: 10px 20px 40px;
    background-color: #fff;
    margin: 10px;
    text-align: center;
    border-radius: 10px;
    /* border: 2px solid #282828; */
    /* border: 1px solid #247bcc4f; */
}

.projectmain:hover{
    transition: 350ms;
    box-shadow: 0px 0px 20px #91919188;
    /* border: 5px solid #247bcc; */

}

.projecttitle {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
}

.projectdes {
    font-family: 'Merriweather', serif;
    font-weight: 400;
    margin-bottom: 3rem;
    line-height: 1.6;
}

.projectbuttons {
    display: flex;
    justify-content: space-around;
}

.projectbtn,
.codebtn {
    text-decoration: none;
    list-style: none;
    padding: 9px 20px;
    margin: 20px 15px;
    color: #282828;
    background-color: #fff;
    border-radius: 15px;
    border: 1px solid #282828;
    font-size: 18px;
    box-sizing: border-box;
}

.projectbtn:hover,
.codebtn:hover {
    cursor: pointer;
    color: white;
    transition: 350ms;
    border: 1px solid #282828;
    background-color: #282828;
}

.project-img {
    width: 20vw;
}

.project-overview-list {
    width: 60%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 30px;
    text-align: left;
}

@media (min-width: 1250px) {
    .projectgrid {
        grid-template-columns: 1fr 1fr 1fr;
        padding-top: 50px;

    }
    .project-img {
        width: 20vw;
    }
    .projectheader h2 {
        font-size: 3rem;
    }
}

@media (max-width: 1249px) {
    .projectgrid {
        grid-template-columns: 1fr 1fr;
        padding: 20px 35px;
    }
    .project-img {
        width: 30vw;
    }
    .projectheader h2 {
        font-size: 2.5rem;
    }

    .projectmain {
        margin: 20px;
    }

}



@media (max-width: 800px) {
    .projectgrid {
        grid-template-columns: 1fr;
        padding: 10px 15px;
        padding-top: 30px;

    }

    .projectmain {
        margin-right: 30px;
        margin-left: 30px;
    }

    .projectbuttons {
        flex-direction: column;
    }
    .project-img {
        width: 45vw;
    }
}

@media (max-width: 600px) {

    .projectmain {
        margin-right: 15px;
        margin-left: 15px;
    }

    .project-img {
        width: 50vw;
    }


}


/* //// BUTTONS //// */

.div-cta {
    display: grid;
    width: 30vw;
    margin: 0 auto;
}

.cta {
    text-decoration: none;
    list-style: none;
    padding: 25px 45px;
    margin: 20px 10px;
    color: #282828;
    border: 5px solid #247bcc4f;
    /* border-radius: 15px; */
    font-size: 1.4em;
    text-align: center;
    border-radius: 5px;
    background-color: #fff;
    
}

.cta:hover{
    cursor: pointer;
    color: #282828;
    transition: 350ms;
    box-shadow: 0px 0px 20px #91919188;
    border: 5px solid #247bcc;

}


@media (max-width: 600px) {

.div-cta {
    display: flex;
    width: 50vw;
    margin-left: auto;
    margin-right: auto;
}

.cta {
    padding: 15px 35px;
    font-size: 1.4em;
    
}
}


/* //// CONTACT //// */

#new-contact {
    display: flex;
    flex-direction: column;
}

input,
textarea {
    margin-bottom: 10px;
    min-width: 300px;
    max-width: 600px;
}

.contactbtn {
    min-width: 100px;
    max-width: 300px;
    margin: 10px auto 10px auto;
    text-align: center;
}